<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        bootstrap="./tests/bootstrap.php"
        cacheResultFile="./reports/cache/phpunit.result.cache"
>
    <testsuites>
        <testsuite name="End-To-End">
            <directory>./tests/EndToEnd</directory>
        </testsuite>
    </testsuites>
</phpunit>